ul {
	list-style-type: none;
}
#VisIcon {
	height: 36px;
	width: 128px;
	-moz-appearance: none;
	-webkit-appearance: none;
}
#extendedNav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 250px;
	height: 250px;
	background-color: rgba(255,255  ,255, .5);
}
#GamerTag {
	width: 128px;
	line-height: 20px;
}
#banner {
	padding-left: 5px;
	height: 5%;
	z-index: 10;
}
.burger {
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 3px 0 0 0;
}
#sidebar {
	position: absolute;
	bottom: 0;
	width: 25%;
}
#navigation {
	/*position: absolute;*/
	/*top: 5px;*/
	/*left: 10%; */
}
#navigation li{
	/* list-style-type: none; */
	display: inline-block;
}
#sidebar a {
	text-decoration: none;
}
#sidebar #navigation {
	background-color: rgba(255, 255 ,255, 1);
}
#contentContainer {
	/*position: absolute;*/
	top: 10%;
}
@keyframes scroll {
    0% {
        transform: translate(0,0)
	}
	50% {
       transform: translate(100%,0)
	}
	100% {
		transform: translate(0,0)
	 }
}

#PlayerCount {

}
.marquee {
    /*animation: scroll 5s linear 0s infinite;*/
	position: absolute;
	/*width: 256px;*/
	/*left: 0;*/
}