<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
{% block body %}
<body>
	{% block navbar %}
		{% include "navbar.html" %}
	{% endblock %}
	<div id=contentContainer class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
{% endblock %}
{% block scripts %}
{% endblock %}
