<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- JQuery -->
    <script src="/static/js/jquery.3.3.1.js"></script>

    <!-- Bootstrap -->
    <script src="/static/bootstrap-4.1.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-4.1.1-dist/css/bootstrap.min.css">
    
    <!-- Leaflet -->
    <script src="static/leaflet/leaflet.js"></script>
    <link rel="stylesheet" href="static/leaflet/leaflet.css" />

    <!-- Custom styles -->
    <link rel="stylesheet" href="/static/css/base.css"/>

    <!-- Cookies -->
    <script src="static/js/cookieHandlers.js"></script>
</head>