{% extends "base.html" %}
{% block content %}
<div class="container">
	<h3>General Information</h3>
	<p>This is an interactive map of 3rd Strike.</p>
	<p>You can add your own name and gamertag to the map pretty easily.</p>
	<p>Other users who have also added their stamp will be displayed to you</p>
	<p>This website uses your public-facing IP address so if you change networks or devices, you may create redundancy. For the sake of this project: the more the merrier.</p>
	<h3>Privacy Policy</h3>
	<p>Your data isn't shared with any external websites or services.<br>
	<p>Your location data is captured and sent to a cloud server. It is then used for mapping purposes.<br>
	<p>This project is a labor of love for map making and 3rd Strike.</p>
	<h3>FAQs</h3>
	<ul>
		<ul>
			<li><strong>How are you geocoding?</strong></li>
			<li>Modern browsers have a geotracking system that returns geoinformation. This site takes those coordinates and applies a bit of random scrambling. Resulting in a rough estimate of location rather than exact coordinates</li>
		</ul>
		<ul>
		</ul>
	</ul>
	<h3>Questions</h3>
	<p>If you've got any questions, you can send them to <a href="mailto:threeesdotorg@gmail.com?subject=feedback" "email me">threeesdotorg@gmail.com</a>
</div>
{% endblock %}