{% extends 'base.html' %}
{% block content %}
<title>3rd Strike Radar</title>
<div id="Map"></div>
<div id="extendedNav">
    <ul>
        <li>
            <label>
                <input id="TrackMe" autocomplete="off" type="checkbox">    Map Me
            </label>
        </li>
        <li>
            <label>
                <input id="FindMe" type="checkbox" autocomplete="off">    Follow Me
            </label>
        </li>
        <li>
            <label>
                <input id="ImOnline" autocomplete="off" type="checkbox">    I'm Online!
            </label>
        </li>
        <li>
            <div>
                <!-- Allow players to select a new character image -->
                <input type=text id=GamerTag placeholder="Gamertag" />
                <br>
                <select class="form-control" id=VisIcon>
                    {% for char in ['Alex', 'Akuma', 'Chun Li', 'Dudley',
                        'Elena', 'Hugo', 'Ibuki', 'Ken', 'Makoto', 'Necro',
                        'Oro', 'Remy', 'Ryu', 'Sean', 'Twelve', 'Urien', 'Yang', 'Yun'] %}
                        {% if char == 'Ryu' %}
                            <!-- Default to ryu, cuz why not? -->
                            <option value="{{ char }}" selected="selected">{{ char }}</option>
                        {% else %}
                            <option value="{{ char }}">{{ char }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </li>
        <li>
            <h4><strong>World Warriors</strong></h4>
                <span class=marquee>
                    Online: <span id="OnlineCount">0</span><br>
                    Total: <span id="PlayerCount">0</span>
                </span>
        </li>
    </ul>
</div>


{% endblock %}
{% block scripts %}
<script src="/static/js/Censor.js"></script> 
<script src="/static/js/InitMap.js"></script>
<script src="/static/js/InitHomeBase.js"></script>
<script src="/static/js/InitCoordinateManager.js"></script>
<script src="/static/js/InitUnfollow.js"></script>
<script src="/static/js/FindPlayers.js"></script>
<script src="/static/js/GeoLoc.js"></script>
<script src="/static/js/GetSize.js"></script>
<script src="/static/js/Place3sStickers.js"></script>
<script src="/static/js/Icons.js"></script>
<script src="/static/js/coinflip.js"></script>
<script src="/static/js/saltgeodata.js"></script>
<script src="/static/js/VisIconChange.js"></script> 
<script src="/static/js/TagChange.js"></script> 
<script src="/static/js/GeoSuccess.js"></script> 
<script src="/static/js/GeoOptions.js"></script>
<script src="/static/js/toggleSideMenu.js"></script>
<script src="/static/js/DoMap.js"></script> 
<!--  There's so many dependencies here it's not even funny... -->
{% endblock %}