<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="static/images/3sIcon.png" id="bannerIcon" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="{{ url_for('my_map') }}">3s Radar</a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('info') }}">Info</a>
            </li>
            <li>
                <button class="btn btn-primary" href="#" id="toggleMenu">Toggle Map Options</button>
            </li>
        </ul>
    </div>
</nav>
<style type="text/css" media="screen">
#bannerIcon {
    height: 48px;
    width: 72px;
}    
</style>