{% extends 'base.html' %}
{% block content %}
<div class=" circle travel"></div>
<style>
    @keyframes rotation {
     from {
         transform: rotate(0deg)
                    translate(-10px)
                    rotate(0deg)
     }
     to {
         transform: rotate(360deg)
                    translate(-10px)
                    rotate(360deg)
        }
    }
    @keyframes route{
        /* Generate a route from given path of node objects */
        {% for node in path %}
            /* Get path position */
            {% set path_position = loop.index / path|length %}
            {% set path_position = (path_position * 100|int) %}
            {% set path_position = path_position|string %}

            /* Normalize coordinate plain */
            {% set x_new = (((node.x - min_x)/(max_x - min_x)) * 100)|int %}
            {% set y_new = (((node.y - min_y)/(max_y - min_y)) * 100)|int %}

            /* Export path to animation via CSS string */
            {{"""{0}% {{
                        top: {1}%;
                        left: {2}%
                        }}"""
                .format(path_position, x_new, y_new)
            }}
        {% endfor %}
    }
    .circle {
        position: absolute;
        height: 24px;
        width: 24px;
        top: 5%;
        left: 5%;
        background-color: blue;
        border-radius: 50%;
    }
    .rotation {
        animation: rotation .8s linear infinite;
    }
    .travel {
        animation: route 300s linear infinite;
    }
</style>
{% endblock %}