{% extends "base.html" %}
{% block content %}
    <div class="LeftSlider" align="center">
        <h1>Quentin Holness</h1>
        <a href="mailto:contact.qholness@gmail.com"><h4>contact.qholness@gmail.com</h4></a>
    </div>
    <div id="ResumeBody">
        <div id="Summary">
            <h2 class="RightSlider">Summary</h2>
            <div class="LeftSlider">
                Software Engineer with experience in data analysis, econometric research, data modeling, database design and administration seeking opportunities in data analysis.
            </div>
        </div>
        <h2 class="RightSlider">Experience {% include "clickformore.html" %}</h2>
        <div id="Experience" class="LeftSlider">
            {% include "experience/briostack.html" %}
            {% include "experience/northwestern.html" %}
            {% include "experience/webdev.html" %}
            {% include "experience/other.html" %}
        </div>
        <div id="SkillsButton" class="LeftSlider Pointer">
            <h2>Skills {% include "clickformore.html" %}</h2>
            <div id="SkillsDescription" style="display: none;">
                <ul>
                    <li>Python, SQL, Javascript, HTML/XML, CSS, C++, R, STATA</li>
                    <li>Flask, Pandas, SQLAlchemy, Numpy, Scipy, Bootstrap, Leaflet.js, D3.js, Jquery, JSON, PowerShell, Bash</li>
                    <li>MySQL, SQL Server, PostGres, Neo4j</li>
                    <li>Linux, Ubuntu/Mint, Windows, OSX</li>
                    <li>Econometrics, Statistics/Statistical modeling, database administration and design, web application management, Linux/Windows administration</li>
                </ul>
            </div>
        </div>
        <div id="EducationButton" class="RightSlider Pointer">
            <h2>Education {% include "clickformore.html" %}</h2>
            <div id="EducationDescription" style="display: none;">
                MS Economics, 2015<br>
                Depaul University<br>
                    <br>
                BS Finance<br>
                UNC Charlotte<br>
            </div>
        </div>
    </div>
<script>
    // window.load = function() {
    //     alert("Loaded");
        AddHideShow("DataEngineer");
        AddHideShow("StatAnalyst");
        AddHideShow("WebDev");
        AddHideShow("Skills");
        AddHideShow("Education");
    // }
</script>
{% endblock %}